@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

.order {
display: grid;
grid-template-columns: repeat(3,1fr);
height: 100vh;
align-content: center;
}



.item img{
    height: 100px;
    object-fit: contain;
}

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.spec {
    list-style: none;
    padding: 0;
    gap: 50px;
    background-color: #e9e9e9;
    width: 90%;
}

.ingredient {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    gap: 20px;
}

.ingredient-name {
    flex: 1;
}

.icons {
    display: flex;
    gap: 10px;
}


.icons i{
  padding: 15px;
    border-radius: 10px; 
}
.icons i:nth-child(1){
    background-color: rgb(15, 149, 0);
    color: white;
}

.icons i:nth-child(2){
    background-color: rgb(149, 0, 0);
    color: white;
}

.ingredient-no.active{
    background-color: rgb(255, 0, 0) !important;
}

.ingredient-yes.active{
    background-color: rgb(4, 255, 0) !important;
}



.ingredient-yes,
.ingredient-no {
    cursor: pointer;
}

button{
    width: 90%;
    border: none;
    padding: 10px;
    color: white;
    background-color: #03beff;
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
}